body {
    background-color: rgb(237,230,222);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
@media all {

    main {
        margin: 0 10%;
        /*border: 1px solid red;*/
    }
    header {
        width: 100%;
        background-color: gray;
    }
    p.center {
        margin: 0 0 8px 0;
        color: white;
        padding: 15px 0 40px 0;
        text-align: center;
    }

    aside {
        color: white;
        background-color: gray;
        width: 25%;
        margin-right: 1%;
        float: left;

    }

    article {
        width: 74%;
        background-color: gray;
        float: right;
    }

    article .box {
        padding: 50px;
    }

    section {
        width: 25%;
        float: left;
        margin: 1% 1% 0 0;
    }

    section img {
        max-width:100%;
        max-height:100%;
    }

    footer {
        margin-top: 1%;
        float: left;
        background-color: gray;
        width: 100%;
        height: auto;
    }

    ul {
        padding: 0 0 0 10px;
        margin: 0;
        list-style-type: none;
    }
    li:hover {
        cursor: pointer;
        background-color: black;
    }
}

@media (max-width: 1099px) and (min-width: 1000px) {
    p.center {
        color: red;
    }
}

@media (max-width: 999px) and (min-width: 800px) {

    aside {
        width: 100%;
    }

    aside * {
        display: inline;
    }

    aside ul li {
        border-left: 1px solid black;
        padding-left: 10px;
    }

    p.center {
        color: inherit;
    }
    article {
        margin-top: 1%;
    }
}

@media (max-width: 799px) {
    header p.center {
        margin-bottom: 0;
    }
    aside {
        background-color: transparent;
        width: 100%;
    }

    aside ul {
        padding: 0;
    }

    aside li, aside p {
        text-align: center;
        background-color: gray;
        margin: 1% 0;
        display: block;
    }

    article {
        width: 74%;
    }

    section {
        margin-top: 0;
    }
}

@media (max-width: 499px) {
    article {
        width: 100%;
    }

    section {
        padding: 2% 10% 0 10%;
        width: 80%;
    }
    p.center {
        margin: 0;
        padding: 0;
    }
}